html * {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.uploader-input {
  display:none
}

.marker {
  background-size: cover;
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  background-image: url('./assets/fireCar.png');
}

.pop-detail-wrapper {
  /* display: flex; */
}
.pop-detail {
  margin: 0;
}

.pop-label {
  font-weight: 700;
}